<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qstuff.qplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".QPlayerApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/qplayer_launcher">
        
        <activity android:name=".QPlayerMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.QPlayer"
            android:screenOrientation="sensorPortrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
